.delete-card {
  padding: 24px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding-bottom: 24px;
}
.actions {
  padding-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
