<div class="success-matdialog">
    <div class="icon-check">
        <span class="check"><mat-icon>done</mat-icon></span>
    </div>
    <h2>¡Reserva exitosa!</h2>

    <div class="success-message">
      <p>Su reserva ha sido realizada con éxito.</p>
      <!-- Aquí podrías agregar detalles adicionales sobre la reserva si es necesario -->
    </div>
    
    <div class="options">
      <!-- Opciones adicionales para el usuario después de la reserva exitosa -->
      <button mat-button color="primary" (click)="goToFilms()">Ir a películas</button>
      <button mat-button color="accent" (click)="goToCineclubs()">Ir a cineclubs</button>
    </div>
    
</div>
