<div class="wrapper">
  <div class="flex video-header justify-content-center relative">
    <a class="play-btn" href="{{FilmProfile.trailer}}" target="_blank"><img src="/assets/icons/play-circle.svg" alt="" /></a>
     <img
    [src]="
        videoDetails.thumbnails.high ? videoDetails.thumbnails.high.url : videoDetails.thumbnails.high.url
        "
      alt="Video Thumbnail"
      class="yt-video"
      />
      <!-- <iframe title="yt-iframe" [src]="getSafeTrailerUrl()" allowfullscreen class="yt-iframe"></iframe> -->
  </div>
  <div class="card">
    <div class="flex flex-column justify-content-center my-4">
      <div class="title">

        <h1 class="font-bold">{{ FilmProfile.title | uppercase }}</h1>
      </div>

      <div class="flex flex-col lg:flex-row main gap-6">
        <div class="flex flex-column" style="max-width: 300px; width: 100%">
          <div class="img-container">
            <img
              class="img-poster"
              src="{{
                FilmProfile.poster.startsWith('http')
                  ? FilmProfile.poster
                  : '/assets/pictures/poster/no-poster.png'
              }}"
              alt="Imagen referencial"
              style="width: 100%; height: auto; max-width: 100%"
            />
          </div>
          <div
            class="img-container"
            fxLayout="column"
            fxLayoutAlign="space-around center"
            style="max-width: 300px; width: 100%"
          >
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> TÍTULO ORIGINAL </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ FilmProfile.title }}</p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> REPARTO </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="no-bullets">
                  <li *ngFor="let actor of ActorList">{{ actor.Actor }}</li>
                </ul>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> SINOPSIS </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ FilmProfile.synopsis }}</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="w-full">
          <film-showtimes-table
            [filmId]="idPost"
            *ngIf="!isBusiness"
          ></film-showtimes-table>
          <app-admin-schedule-films
            *ngIf="isBusiness"
            [availableFilmId]="availableFilmId"

          ></app-admin-schedule-films>
        </div>
      </div>
    </div>
  </div>
</div>
