<mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let date of uniquePlayDates; let i = index" [label]="date">
      <div *ngIf="selectedTabIndex === i">
        <div *ngFor="let business of businessWithFunctions">
          <p>{{ business.name }}</p>
          <p>{{ business.address }}</p>
          <button mat-button *ngFor="let playtime of business.playtimes" (click)="showBottomSheet(playtime, business)">
            {{ playtime.playtime }}
          </button>          
        </div>
      </div>
    </mat-tab>
</mat-tab-group>
  
  
  
  
  
  