<div class="info-container">
    <div class="box">
        <div class="flex align-items-center mb-2">
            <div class="col">
                <img src="https://pics.filmaffinity.com/Green_Book-162451488-large.jpg" alt="poster">
            </div>
            <div class="col promotion-info align-items-center">
                <h1 class="promotion-name">Promoción estreno</h1>
                <div class="ticket-price-container">
                    <p class="ticket-price">S/. 10.00</p>
                </div>
                <p class="promotion-description">1 entrada a Green Book </p>
                <p class="promotion-discount">(20% descuento)</p>
                <p class="promotion-end-date">Válido hasta el 21/08/2023</p>
            </div>
        </div>
        <div class="cineclub">
            <p class="description">Ofrecido por AutoCine Lima Park</p>
        </div>
    </div>
</div>
