.billboard,
.caption {
  color: var(--text-input-color);
}

.billboard {
  padding-top: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.film-container__elements {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 0;
}

@media only screen and (min-width: 840px) {
  .film-container__elements {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.weekly-film {
  img {
    object-fit: cover;
    width: 250px;
    height: 400px;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;

    .button {
      display: block;
      color: var(--white-color);
      text-align: center;
      padding: 10px;
      text-decoration: none;
      transition: 0.2s ease;
      background-color: var(--primary-color);
      cursor: pointer;

      &:hover {
        background-color: var(--white-color);
        color: var(--primary-color);
      }
    }
  }

  &:hover .overlay {
    height: 100%;
  }
}

.film-card {
  &__poster {
    position: relative;
  }
  &__title {
    font-weight: 600;
    padding-top: 4px;
    max-width: 250px;
  }
}

.paginator {
  display: flex;
  justify-content: center;
}

.my-pagination ::ng-deep .ngx-pagination {
  padding: 0;
  display: flex;
  gap: 8px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-input-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    & > span {
      display: block;
    }
  }
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-next,
.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after {
  padding: 0;
  margin: 0;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-next.disabled::after {
  margin: 0;
}

.my-pagination ::ng-deep .ngx-pagination .small-screen {
  display: none !important;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--text-input-color);
  padding: 0;
}

.my-pagination ::ng-deep .ngx-pagination .disabled {
  padding: 0;
}
