<h2 class="billboard">Resultados</h2>
<p class="caption">
  Se encontraron {{ movies.length }} resultados para su búsqueda
</p>

<div>
  <div *ngIf="movies.length > 0" class="film-container__elements">
    <div
      *ngFor="
        let movie of movies | paginate : { itemsPerPage: 8, currentPage: p }
      "
      class="weekly-film"
    >
      <img
        src="{{ movie.poster }}"
        alt="{{ movie.title }}"
      />
      <div class="overlay">
        <span
        [routerLink]="['/dashboard/peliculas/pelicula', movie.id]"
        class="button"
        >VER HORARIOS</span
        >
      </div>
    </div>
  </div>

  <app-not-found *ngIf="movies.length == 0" message="películas"></app-not-found>
</div>

<div class="paginator">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel=" "
    nextLabel=" "
    autoHide:true
    class="my-pagination"
  ></pagination-controls>
</div>
