<div>
    <form [formGroup]="empOfferForm" (ngSubmit)="onFormSubmit()">
        <div class="content">
            <div class="card">
                <div class="card-details p-5">
                    <div class="banner">
                        <img [src]="showtime?.availableFilm?.business?.bannerSrc" alt="logo">
                    </div>
                    <div class="showtime-details">
                        <div class="details">
                            <span class="details-label"><strong>Cineclub {{showtime?.availableFilm?.business?.name}}</strong></span> 
                        </div>
                        <div class="details">
                            <span class="details-label"><strong>{{showtime?.playDate}} | {{showtime?.playtime}}</strong></span>
                        </div>
                        <div class="details">
                            <mat-icon aria-hidden="false" aria-label="location" fontIcon="location_on" class="icon"></mat-icon>
                            <span class="details-label">{{showtime?.availableFilm?.business?.address}}</span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="quantity-details">
                <div class="p-5">
                    <div class="details pb-5">
                        <span class= "details-label"><strong>GENERAL:</strong></span>
                        <span class="details-unitPrice">S/ {{showtime?.unitPrice}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-start details">
                        <div class="flex align-items-center justify-content-center ">
                            <span class= "details-label"><strong>CANTIDAD:</strong></span>
                        </div>
        
                        <div class="counter flex align-items-center justify-content-center">
                            <select formControlName="selectedQuantity" class="quantity-booking">
                                <option *ngFor="let option of quantityOptions" [value]="option">{{ option }}</option>
                            </select>
                        </div>
                    </div>
                </div>  
                <div class="total-price-details">
                    <div>
                        <p>TOTAL</p>
                    </div>
                    <div>
                        <h1 class="total-price"><strong>S/ {{ totalPrice }}</strong></h1>
                    </div>                  
                </div>
            </div>
    
        </div>
    </form>
</div>

