.content{
    padding-top: 0rem;
}


.action {
    padding: 0px 25px 20px;

    button{
        flex: 1;
    }
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  button {
    margin: 0 8px;
  }

  .details-container{
    display: flex;
  }

  .row {
    display: flex;
    gap: 10px;

    mat-form-field {
        width: 100%;
      }
}

.card{
  background-color: #fffdea;
}

.card-details{
  align-items: center;
  display: flex;

  padding: 10px 20px;
}

.banner{
  width: 150px;
}

.details{
  display: flex;
  align-items: start;
  padding-top: 10px;

}
.quantity-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: #fff7c5;
}
.total-price-details{
  margin-right: 25px;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
  height: 100%; 
}
.total-price{
  color: #ffad00;
}

.payment-details{
  margin-top: 20px;
}

.showtime-details{
  padding-left: 30px ;
}

.details-label{
  color: #3a4252;
  font-size: 16px;
}

.details-unitPrice{
  margin-left: 10px;
  color: #3a4252;
  font-weight: bolder;
  font-size: 20px;

}

.icon{
  color: #3a4252;
}

.quantity-booking{
  margin-left: 10px;
  height: 25px;
  width: 60px;
}

@media screen and (max-width: 900px) {
  .details-container{
    flex-direction: column;
  }
  .card-details{
    flex-direction: column;
  }
  .details{
    flex-direction: column;
  }
  .quantity-details{
    flex-direction: column;
  }
  .total-price-details{
    flex-direction: row;
  }
  .total-price{
    margin-left: 10px;
  }
  .payment-details{
    margin-top: 0px;
  }
  .showtime-details{
    padding-left: 0px ;
  }
  .details-label{
    font-size: 14px;
  }
  .icon{
    font-size: 14px;
  }
  
}