<div>
    <form [formGroup]="empOfferForm" (ngSubmit)="onFormSubmit()">
        <div class="content">
            <div class="booking-deatils">
                <h2>DETALLE DE LA RESERVA</h2>
            </div>
            <div class="card">
                <div class="card-details pt-2">
                    <div class="details">
                        <strong>Cineclub Lima Park</strong> 
                    </div>
                    <div class="details">
                        <strong>08-10-2023 | 17:40</strong> 
                    </div>
                    <div class="details">
                        <mat-icon aria-hidden="false" aria-label="location" fontIcon="location_on"></mat-icon>
                        <span>Dirección</span>
                    </div> 
                </div>
            </div>
            <div class="quantity-details">
                <div>
                    <div class="details">
                        <strong>General:</strong>
                        <span>S/</span>
                    </div>
                    <div class="flex align-items-center justify-content-start details">
                        <div class="flex align-items-center justify-content-center ">
                            <strong>Cantidad: </strong>
                        </div>
        
                        <div class="counter flex align-items-center justify-content-center">
                            <button mat-raised-button (click)="decrement()">-</button>
                            <span>{{ count }}</span>
                            <button mat-raised-button (click)="increment()">+</button>
                        </div>
                    </div>
                </div>  
                <div class="total-price-details">
                    <div>
                        <p>TOTAL</p>
                    </div>
                    <div>
                        <h1 class="total-price">S/ {{ totalPrice }}</h1>
                    </div>                  
                </div>
            </div>
    
        </div>

        <div class="payment-details">
            <h2>INFORMACIÓN DE PAGO</h2>
            <app-payment-form></app-payment-form>
        </div>

        <div class="action">
            <button mat-raised-button type = "button">Cancelar</button>
            <button mat-raised-button color="primary" (click)="postTicket()">Reservar</button>
        </div>
    </form>
</div>

