<mat-card class="container">
    <mat-card-title class="title">Adquirir promoción</mat-card-title>
    <mat-card-content>
      <form #tarjetaForm="ngForm">
        <div class="form-row">
          <mat-form-field appearance="outline" class="flex-grow">
            <input matInput placeholder="Número de tarjeta" name="numeroTarjeta" ngModel required>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <input matInput placeholder="mm/aa" name="fecha" ngModel required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <input matInput placeholder="CVV" name="cvv" ngModel required>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <input matInput placeholder="Nombres" name="nombres" ngModel required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <input matInput placeholder="Apellidos" name="apellidos" ngModel required>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <input matInput placeholder="Correo" name="correo" ngModel required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="half-width">
            <input matInput placeholder="Código postal" name="codigoPostal" ngModel required>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-checkbox name="recordarTarjeta">Recordar tarjeta</mat-checkbox>
        </div>
  
        <div class="div-pay" style="margin-top: 20px;">
          <button (click)="dialogReview()" class ="bt-pay pr-6 pt-2 pl-6 pb-2" type="submit">Pagar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  