<article>
  <div class="card">
    <div class="flex flex-column card-container">
      <div class="options-links movies-available-options">
        <div class="active"><div>En cartelera</div></div>
      </div>
      <div class="pt-6">
        <div *ngFor="let film of availableFilms">
          <div class="flex flex-row movie_available--card">
            <img
              src="{{ film.film.poster }}"
              alt="poster"
              style="width: 190px; height: 280px; object-fit: cover; cursor: pointer;"
              [routerLink]="['/dashboard/peliculas/pelicula', film.film.id]"
            />
            <div class="flex flex-column pl-5">
              <div>
                <h2>
                  <strong style="text-transform: uppercase">{{
                    film.film.title
                  }}</strong>
                </h2>
              </div>
              <div class="flex flex-row pb-5">
                <div class="pr-2">
                  <mat-card>
                    <mat-card-content>M14</mat-card-content>
                  </mat-card>
                </div>
                <div>
                  <mat-card>
                    <mat-card-content
                      >{{ film.film.duration }} min</mat-card-content
                    >
                  </mat-card>
                </div>
              </div>
              <div class="flex flex-column">
                <div class="flex flex-row">
                  <mat-icon class="pr-2">calendar_today</mat-icon>
                  <p>{{ film.date }} | {{ film.time }}</p>
                </div>

                <div
                  *ngFor="let item of dateAvailable"
                  class="flex flex-row pt-2"
                >
                  <div class="pr-2">
                    <button mat-stroked-button>{{ item }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="films.length > 2" class="primary-btn btn_movies" (click)="toogleMovies()">{{ seeAll ? 'Ver menos' : 'Ver mas' }}</button>
        <div class="flex flex-row p-3" *ngIf="isBusiness">
          <img
            src="/assets/new_film_poster.png"
            alt="poster"
            style="width: 30%; height: auto"
            (click)="openDialog()"
          />
        </div>
      </div>
    </div>
  </div>
</article>
