<div class="profile">
  <div class="profile-details">
    <div class="profile-photo">
      <img class="photo-user" width="200" *ngIf="dataEntrante?.imageSrc; else photoDefauld" src={{dataEntrante?.imageSrc}} alt="User Photo">
      <ng-template #photoDefauld>
        <img class="photo-user" width="200" src="https://i.pinimg.com/550x/57/70/f0/5770f01a32c3c53e90ecda61483ccb08.jpg" alt="User Photo">
      </ng-template>
    </div>
    <div class="profile-info">
      <h2 class="name">{{dataEntrante?.name}} {{dataEntrante?.lastname}}</h2>
      <p class="description">Correo: <strong>{{dataEntrante?.email}}</strong> </p>
      <p class="description">Numero de telefono: <strong>{{dataEntrante?.phoneNumber}}</strong> </p>
      <p class="description">Fecha de nacimiento: <strong>{{dataEntrante?.birthdate}}</strong> </p>
      <p class="start-date">Miembro desde Abril 2023</p>
      <p class="location">Lima, Peru</p>
      <p class="events">Asistió a tres eventos</p>
    </div>
    <div class="profile-edit">
      <button class="edit-button">Obtener membresía</button>
    </div>
    <div class="profile-edit">
      <button class="edit-button" (click)="openEditModal()">Editar perfil</button>
    </div>
  </div>
</div>

