.promotions {
  position: relative;
  padding: 16px;

  @media screen and (min-width: 720px) {
    padding: 24px;
  }

  @media screen and (min-width: 1024px) {
    padding: 75px 48px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--text-input-color);
  margin: 0;
  padding-bottom: 32px;
}

.promotions-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;

  @media screen and (min-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.new-promotion {
  position: fixed;
  bottom: 42px;
  background-color: var(--primary-color);
  color: var(--white-color);
  & > * {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
}
