.wrapper {
  width: 100%;
  min-height: calc(100vh - 70px);
  margin: 0 auto;
  background-color: #fff;

  @media screen and (min-width: 1201px) {
    max-width: 1200px;
  }
}

.promotions {
  position: relative;
  padding: 16px;

  @media screen and (min-width: 720px) {
    padding: 24px;
  }

  @media screen and (min-width: 1024px) {
    padding: 75px 48px;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #64748b;
  margin: 0;
  padding-bottom: 32px;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;

  @media screen and (min-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.new-promotion {
  position: fixed;
  bottom: 42px;
  background-color: #ffad00;
  color: #fff;
  & > * {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
}


// /* Estilos para las tarjetas */
// .card {
//   display: flex; /* Usamos flexbox para el diseño */
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   margin-bottom: 20px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//   .card-img-top {
//     max-width: 200px; /* Ancho máximo de la imagen */
//     height: auto;
//     margin-right: 20px; /* Margen derecho para separar la imagen de la información */
//   }

//   .card-body {
//     flex: 1; /* La información ocupa todo el espacio restante */
//     padding: 20px;

//     .card-title {
//       font-size: 1.25rem;
//       font-weight: bold;
//       margin-bottom: 10px;
//     }

//     .card-text {
//       font-size: 1rem;
//       margin-bottom: 10px;
//     }

//     .card-footer {
//       background-color: #F59E0B;
//       padding: 10px;
//       border-bottom-left-radius: 5px;
//       border-bottom-right-radius: 5px;
//       text-align: right;
//       color: #333;
//       font-style: italic;
//     }
//   }
// }

// /* Estilos para la cuadrícula de promociones */
// .promo-row {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap; /* Permite que las tarjetas se envuelvan automáticamente a la siguiente fila */
// }

// .promo-item {
//   flex: 0 0 calc(48% - 10px); /* 2 columnas en una fila con espacio entre ellas */
//   margin-bottom: 10px; /* Espacio entre las tarjetas */
// }

// /* Estilos para las flechas de navegación */
// .carousel-button {
//   background-color: transparent;
//   border: none;
//   font-size: 24px;
//   cursor: pointer;
//   color: #000;
//   width: 40px;
//   text-align: center;
//   z-index: 2;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);

//   &:hover {
//     color: #007bff;
//   }
// }

// .prev {
//   left: 20px; /* Aumentamos el margen izquierdo */
// }

// .next {
//   right: 20px; /* Aumentamos el margen derecho */
// }


// .col-md-4{
//   margin-right: 100px;
//   margin-left: 100px;
// }
