<section class="wrapper">
  <div class="promotions">
    <h1 class="title">Promociones</h1>
    <div class="container">
      <!-- Contenedor de promoción como botón -->
      <button
        *ngFor="let promotion of promotions"
        class="promotion-button"
        (click)="openPromotion(promotion)"
      >
        <app-promotion-card
          [promotion]="promotion"
          [typeUser]="TYPE_USER"
        ></app-promotion-card>
      </button>
    </div>
    <div class="actions" *ngIf="TYPE_USER == 'business'">
      <button mat-fab class="new-promotion" (click)="openNewPromotion()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</section>
