<div class="row">
    <div class="col-md-6" *ngFor="let promotion of promotions">
      <div class="card">
        <img class="card-img-top" src="URL de la imagen" alt="Imagen de la promoción">
        <div class="card-body">
          <h5 class="card-title">{{ promotion.name }}</h5>
          <p class="card-text">Inicio: {{ promotion.initDate }}</p>
          <p class="card-text">Fin: {{ promotion.endDate }}</p>
        </div>
        <div class="card-footer">
          Promoción realizada por {{ promotion.business.name }}
        </div>
      </div>
    </div>
  </div>