<div class="booking-stepper">

  <div class="booking-stepper-header">
    <div class="booking-stepper-header-body">
      <h1 class="booking-stepper-header-body-title">COMPRA DE ENTRADAS</h1>
      <p class="booking-stepper-header-body-detail">Confirma el proceso para adquirir tus entradas a <strong>{{showtime?.availableFilm?.business?.name}}</strong></p>
    </div>

    <mat-horizontal-stepper labelPosition="bottom">

      <mat-step label="01. Usuario">
        <div class="film-profile">
          <stepper-film-profile [showtime]="showtime"></stepper-film-profile>

          <div class="user-step">


            <div class="container-user">
              <div class="container-user-header">
                <span class="step-number">01</span>
                <div class="container-user-header-body">
                  <h2 class="container-user-header-body-title">USUARIO</h2>
                  <p class="">Si no has ingresado, hazlo ahora</p>
                </div>
              </div>
              <hr class="horizontal-line">

              <div *ngIf="userId === 0">
                <div class="no_loged">
                  <span class="no_loged-icon"><mat-icon>priority_high</mat-icon></span>
                  <div class="no_loged-box">
                    <p class="no_loged-box_text">¡REGÍSTRATE COMO CLIENTE TUCINE Y ACCEDE MÁS RÁPIDO EN LA COMPRA ONLINE
                      ADEMÁS DE RECIBIR PROMOCIONES ÚNICAS EN BOLETERÍA Y CONFITERÍA! <br> REGISTRATE <button class="bt-register" (click)="goToRegister()">AQUÍ</button></p>
                  </div>
                </div>
              </div>

              <div *ngIf="userId != 0">
                <div class="loged">
                  <div class="loged-item">
                    <span class="icon"><mat-icon>person</mat-icon></span>
                    <p class="loged-label">NOMBRE</p>
                    <P class="loged-data">{{user?.name}}</P>
                  </div>

                  <div class="loged-item">
                    <span class="icon"><mat-icon>person</mat-icon></span>
                    <p class="loged-label">APELLIDO</p>
                    <P class="loged-data">{{user?.lastname}}</P>
                  </div>

                  <div class="loged-item">
                    <span class="icon"><mat-icon>mail</mat-icon></span>
                    <p class="loged-label">EMAIL</p>
                    <P class="loged-data">{{user?.email}}</P>
                  </div>

                  <div class="loged-item">
                    <span class="icon"><mat-icon>phone_iphone</mat-icon></span>
                    <p class="loged-label">TELÉFONO</p>
                    <P class="loged-data">{{user?.phoneNumber}}</P>
                  </div>

                </div>
              </div>
            </div>

            <div class="film-profile-actions">
              <button *ngIf="userId === 0" mat-raised-button class="bt-step1" (click)="goToSignIn()">Ingresar</button>
              <button *ngIf="userId != 0" mat-raised-button class="bt-step1" (click)="stepper.next()">Comprar</button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step label="02. Entradas">
        <div class="film-profile">
          <stepper-film-profile [showtime]="showtime"></stepper-film-profile>

          <div class="user-step">


            <div class="container-user">
              <div class="container-user-header">
                <span class="step-number">02</span>
                <div class="container-user-header-body">
                  <h2 class="container-user-header-body-title">ENTRADAS</h2>
                  <p class="">Selecciona tus entradas. El valor se calculará luego de seleccionar las butacas</p>
                </div>
              </div>
              <hr class="horizontal-line">

              <app-book-ticket [showtime]="showtime" (ticketData)="receiveTicketData($event)"></app-book-ticket>

            </div>

            <div class="film-profile-actions">
              <button  mat-raised-button class="bt-step1" (click)="stepper.next()">Siguiente</button>
            </div>
          </div>


        </div>
      </mat-step>

      <!-- Paso 3 -->
      <mat-step label="03. Confirmación y pago">
        <div class="film-profile">
          <stepper-film-profile [showtime]="showtime"></stepper-film-profile>

          <div class="user-step">
            <div class="container-user">
              <div class="container-user-header">
                <span class="step-number">03</span>
                <div class="container-user-header-body">
                  <h2 class="container-user-header-body-title">CONFIRMACIÓN Y PAGO</h2>
                  <p class="">Llena tus datos como aparecen en tu tarjeta</p>
                </div>
              </div>
              <hr class="horizontal-line">

              <div class="booking-details">
                <div class="booking-details-body">
                  <div class="banner">
                    <img [src]="showtime?.availableFilm?.business?.logoSrc" alt="logo">
                  </div>

                  <div class="showtime-details">
                    <div class="details">
                        <span class="details-label"><strong>Cineclub {{showtime?.availableFilm?.business?.name}}</strong></span>
                    </div>
                    <div class="details">
                        <span class="details-label"><strong>{{showtime?.playDate}} | {{showtime?.playtime}}</strong></span>
                    </div>
                    <div class="details">
                      <span class="details-label"><strong>{{selectedQuantity}} tickets X S/{{showtime?.unitPrice}}</strong></span>
                    </div>
                  </div>
                </div>

                <div class="total-price-details">
                  <div>
                    <p>TOTAL</p>
                  </div>
                  <div>
                    <h1 class="total-price"><strong>S/ {{ totalPrice }}</strong></h1>
                  </div>
                </div>
              </div>

              <div>
                <div class="method-title">
                  <h1>Selecciona un método de pago:</h1>
                </div>
                <div class="button-container">
                  <button class="button-ethereum" mat-raised-button (click)="selectPayment('ethereum')">Pagar con Ethereum</button>
                  <button class="button-creditCard" mat-raised-button (click)="selectPayment('creditCard')">Pagar con Tarjeta de Crédito</button>
                </div>
                <div *ngIf="selectedPayment === 'ethereum'">
                  <app-metamask-home></app-metamask-home>
                </div>
                <div *ngIf="selectedPayment === 'creditCard'">
                  <mat-card class="pay-container">
                    <mat-card-content>
                      <form [formGroup]="empPaymentForm" (ngSubmit)="onFormSubmit()" class="form" >
                        <div class="form-row">
                          <mat-form-field appearance="outline" class="flex-grow">
                            <input matInput
                            type="text"
                            placeholder="Número de tarjeta"
                            name="numeroTarjeta"
                            formControlName="card_number"
                            (input)="formatCreditCardNumber($event)">
                            <mat-error *ngIf="empPaymentForm.get('card_number')?.touched ">
                              <ng-container *ngIf="empPaymentForm.get('card_number')?.hasError('invalidLength')">
                                Número de tarjeta <strong>inválido</strong>
                              </ng-container>
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <mat-form-field appearance="outline" class="half-width">
                            <input matInput type="text" placeholder="mm/aa" name="fecha" formControlName="MMAA" (input)="formatExpiryDate($event)">
                            <mat-error *ngIf="empPaymentForm.get('MMAA')?.touched">
                              <ng-container *ngIf="empPaymentForm.get('MMAA')?.hasError('required')">
                                  Campo <strong>obligatorio</strong>
                              </ng-container>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="half-width">
                            <input matInput type="text" placeholder="CVV" name="cvv" formControlName="CVV">
                            <mat-error *ngIf="empPaymentForm.get('CVV')?.touched">
                              <ng-container *ngIf="empPaymentForm.get('CVV')?.hasError('required')">
                                  Campo <strong>obligatorio</strong>
                              </ng-container>
                              <ng-container *ngIf="empPaymentForm.get('CVV')?.hasError('pattern')">
                                Se requiere <strong>3 caracteres</strong>
                            </ng-container>
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <mat-form-field appearance="outline" class="half-width">
                            <input matInput type="text" placeholder="Nombres" name="nombres" formControlName="first_name">
                            <mat-error *ngIf="empPaymentForm.get('first_name')?.touched">
                              <ng-container *ngIf="empPaymentForm.get('first_name')?.hasError('required')">
                                  Campo <strong>obligatorio</strong>
                              </ng-container>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="half-width">
                            <input matInput type="text" placeholder="Apellidos" name="apellidos" formControlName="last_name">
                            <mat-error *ngIf="empPaymentForm.get('last_name')?.touched">
                              <ng-container *ngIf="empPaymentForm.get('last_name')?.hasError('required')">
                                  Campo <strong>obligatorio</strong>
                              </ng-container>
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <mat-form-field appearance="outline" class="half-width">
                            <input matInput type="text" placeholder="Correo" name="correo" formControlName="email">
                            <mat-error *ngIf="empPaymentForm.get('email')?.touched">
                              <ng-container *ngIf="empPaymentForm.get('email')?.hasError('required')">
                                  Campo <strong>obligatorio</strong>
                              </ng-container>
                              <ng-container *ngIf="empPaymentForm.get('email')?.hasError('email')">
                                El formato de correo electrónico es <strong>inválido</strong>
                            </ng-container>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="half-width">
                            <input matInput type="text" placeholder="Código postal" name="codigoPostal" formControlName="postal_code">
                            <mat-error *ngIf="empPaymentForm.get('postal_code')?.touched">
                              <ng-container *ngIf="empPaymentForm.get('postal_code')?.hasError('required')">
                                  Campo <strong>obligatorio</strong>
                              </ng-container>
                              <ng-container *ngIf="empPaymentForm.get('postal_code')?.hasError('pattern')">
                                  Se requiere <strong>5 caracteres</strong>
                              </ng-container>
                          </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <mat-checkbox name="recordarTarjeta">Recordar tarjeta</mat-checkbox>
                        </div>

                        <div class="div-pay" style="margin-top: 20px;">
                          <button class ="bt-pay pr-6 pt-2 pl-6 pb-2" type="submit">Reservar</button>
                        </div>
                      </form>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>




            </div>
          </div>

        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>


</div>
