.billboard,
.caption {
  color: var(--text-input-color);
}

.billboard {
  padding-top: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.cineclub-container__elements {
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 32px 0;

  @media only screen and (min-width: 840px) {
    align-items: stretch;
  }
}

.cineclub-card {
  width: 290px;
  min-height: 400px;
  border-radius: 12px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  flex-basis: 100%;

  @media only screen and (min-width: 600px) {
    flex-basis: calc(50% - 16px);
  }

  @media only screen and (min-width: 966px) {
    flex-basis: calc(33.33% - 16px);
  }

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .card-img {
    width: 100%;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }

  .card-body {
    padding: 16px;
    flex: 1;

    p {
      margin: 0;
    }

    .name {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 4px;
    }

    .address {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 16px;
    }
  }

  .action-btn {
    width: 100%;
    padding: 12px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
  }
}

.not-found {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0 40px;

  & > p {
    font-style: italic;
    color: var(--text-input-color);
  }
  & > img {
    width: 250px;
  }
}

.paginator {
  display: flex;
  justify-content: center;
}

.my-pagination ::ng-deep .ngx-pagination {
  padding: 0;
  display: flex;
  gap: 8px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-input-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    & > span {
      display: block;
    }
  }
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-next,
.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after {
  padding: 0;
  margin: 0;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-next.disabled::after {
  margin: 0;
}

.my-pagination ::ng-deep .ngx-pagination .small-screen {
  display: none !important;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--text-input-color);
  padding: 0;
}

.my-pagination ::ng-deep .ngx-pagination .disabled {
  padding: 0;
}
