<h2 class="billboard">Resultados</h2>
<p class="caption">
  Se encontraron {{ cineClubs.length }} resultados para su búsqueda
</p>

<div>
  <div *ngIf="cineClubs.length > 0" class="cineclub-container__elements">
    <div
      class="cineclub-card"
      *ngFor="
        let cineclub of cineClubs
          | paginate : { itemsPerPage: 8, currentPage: p }
      "
    >
      <div class="card-img">
        <img
          mat-card-image
          src="{{ cineclub.logoSrc }}"
          alt="{{ cineclub.name }}"
        />
      </div>
      <div class="card-body">
        <p class="type">{{ cineclub.businessTypes?.name }}</p>
        <p class="name">{{ cineclub.name }}</p>
        <p class="address">{{ cineclub.address }}</p>
        <p class="description">{{ cineclub.description }}</p>
      </div>
      <button class="action-btn" [routerLink]="['cineclub/', cineclub.id]">
        VER MAS
      </button>
    </div>
  </div>

  <app-not-found *ngIf="cineClubs.length == 0" message="No existen cineclubs por ahora"></app-not-found>
</div>

<div class="paginator">
  <pagination-controls
    (pageChange)="p = $event"
    previousLabel=" "
    nextLabel=" "
    autoHide:true
    class="my-pagination"
  ></pagination-controls>
</div>
