.wrapper {
  width: 100%;
  min-height: calc(100vh - 90px);
  margin: 0 auto;
  background-color: var(--white-color);

  @media screen and (min-width: 1201px) {
    max-width: 1200px;
  }
}

.home-container {
  position: relative;
  padding: 16px;

  @media screen and (min-width: 720px) {
    padding: 24px;
  }

  @media screen and (min-width: 1024px) {
    padding: 75px 48px;
  }
}

@media only screen and (max-width: 767px) {
  .home-container {
    padding: 0 10px;
  }
}
