<div class="card">
  <div class="wrapper">
    <img
      class="img"
      src="https://pics.filmaffinity.com/Green_Book-162451488-large.jpg"
      alt="Promoción"
    />
    <div class="content">
      <div class="content__header">
        <p class="content__header--title">{{ promotion.name }}</p>
        <div
          class="content__header--options"
          *ngIf="typeUser == 'business'"
          (mouseenter)="toggleMenu(true)"
          (mouseleave)="toggleMenu(false)"
        >
          <button class="primary-btn">
            <mat-icon
              class="icon"
              aria-hidden="false"
              fontIcon="more_vert"
            ></mat-icon>
          </button>
          <div class="menu" *ngIf="openMenu">
            <button (click)="openEditDialog()">Editar</button>
            <button (click)="openDeleteDialog()">Eliminar</button>
          </div>
        </div>
      </div>
      <div class="content__price">S/ {{ promotion.discountPercentage }}</div>
      <p class="content__description">
        {{ promotion.description }}
      </p>
    </div>
  </div>
  <div class="footer" *ngIf="typeUser == 'client'">
    {{ promotion.business.name }}
  </div>
</div>
