/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-color: #fffcef;
}
body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
}
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

/* Button styles */
.secondary-btn,
.primary-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  min-width: 100px;
}
.secondary-btn {
  background-color: #f3f3f3;
  color: #828282;
}
.primary-btn {
  background-color: #ffad00;
  color: #fff;
}

/* Input styles */
.input-no-style {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}
