@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */
/* Colors */
:root {
  --primary-color: #ffad00;
  --secondary-color: #fffcef;
  --disable-color: #f3f3f3;
  --text-disable-color: #828282;
  --text-input-color: #64748b;
  --neutral-grey-hover: #222f28;
  --white-color: #fff;
  --black-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}

* {
  font-family: Inter, "Helvetica Neue", sans-serif;
}

/* Button styles */
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.secondary-btn,
.primary-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  min-width: 100px;
}
.secondary-btn {
  background-color: var(--disable-color);
  color: var(--text-disable-color);
}
.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Input styles */
.input-no-style {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.input-text {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  font-size: 16px;
  color: var(--text-input-color);
  border-radius: 4px;
  border: 1px solid #cbd5e1;

  &::placeholder {
    color: var(--text-input-color);
  }
}
