.bar-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
}

.bar-container input {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-input-color);

  &::placeholder {
    color: var(--text-input-color);
  }
}

.bar-container button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-input-color);
}
