<section class="wrapper">
  <div class="banner">
    <img
      src="{{
        cineclub.bannerSrc != ''
          ? cineclub.bannerSrc
          : '/assets/pictures/banners/empty-banner.jpg'
      }}"
      alt="banner"
    />
  </div>
  <div class="profile">
    <!-- Information profile -->
    <div class="profile__left">
      <div class="title">
        <h1>{{ cineclub.name }}</h1>
        <mat-icon class="icon" *ngIf="isBusiness" (click)="openDialog()"
          >edit</mat-icon
        >
      </div>
      <div class="rating pb-2">
        <div>
          <span *ngFor="let i of getRange(this.cineclub.rating)">
            <mat-icon>star</mat-icon>
          </span>
          <span *ngFor="let i of getRange(5 - this.cineclub.rating)">
            <mat-icon>star_border</mat-icon>
          </span>
        </div>
        <div>({{ this.cineclub.rating }})</div>
      </div>
      <p class="pb-2">{{ this.cineclub.description }}</p>
      <div class="flex align-items-center pb-2">
        <mat-icon
          class="flex align-items-center justify-content-center pr-2"
          style="color: #ffad00"
          >location_on</mat-icon
        >
        <h2 class="address">Dirección</h2>
      </div>
      <p class="pb-2">{{ this.cineclub.address }}</p>
      <div class="flex align-items-center pb-2">
        <mat-icon
          class="flex align-items-center justify-content-center pr-2"
          style="color: #ffad00"
          >schedule</mat-icon
        >
        <h2 class="address">Horario de atención</h2>
      </div>
      <p class="pb-2">
        {{ this.cineclub.startTime }} - {{ this.cineclub.endTime }}
      </p>
    </div>
    <!-- Films -->
    <div class="profile__right">
      <cineclubs-movies-available></cineclubs-movies-available>
    </div>
  </div>
  <!-- Comments -->
  <div class="comments">
    <form [formGroup]="reviewForm" class="form">
      <div class="form">
        <div class="header" style="color: #ffad00">
          <h1 class="pr-2" style="font-size: 24px">
            <mat-icon>chat_bubble</mat-icon>
            <strong> Reseñas ({{ this.cineclub.commentsCount }})</strong>
          </h1>
        </div>
        <div class="rating" *ngIf="!isBusiness && isLogged">
          <mat-card-content>Escribe tu reseña</mat-card-content>
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
          <ngx-star-rating
            formControlName="rating"
            [id]="'rating'"
          ></ngx-star-rating>
        </div>
        <div class="review" *ngIf="!isBusiness && isLogged">
          <mat-form-field [style.width.%]="95" appearance="outline">
            <textarea
              class="text"
              matInput
              type="text"
              placeholder="Escribir reseña"
              formControlName="comment"
            ></textarea>
            <mat-error *ngIf="reviewForm.get('comment')?.touched">
              <ng-container
                *ngIf="reviewForm.get('comment')?.hasError('required')"
              >
                Campo <strong>obligatorio</strong>
              </ng-container>
              <ng-container
                *ngIf="reviewForm.get('comment')?.hasError('maxlength')"
              >
                Máximo <strong>250 caracteres</strong>
              </ng-container>
            </mat-error>
          </mat-form-field>
          <mat-card-actions
            *ngIf="
              !reviewForm.get('comment')?.hasError('required') &&
              reviewForm.value.rating != 0
            "
            class="mat-card-actions"
          >
            <button
              class="send-button"
              (click)="saveReview()"
              mat-raised-button
              mat-dialog-close
            >
              Publicar
            </button>
          </mat-card-actions>
          <mat-card-actions
            *ngIf="
              reviewForm.get('comment')?.hasError('required') ||
              reviewForm.value.rating == 0
            "
            class="mat-card-actions"
          >
            <button class="disabled-button" mat-raised-button>Publicar</button>
          </mat-card-actions>
        </div>
      </div>
    </form>
    <div class="users-reviews">
      <div *ngIf="userReviews.length > 0">
        <div class="user-card" *ngFor="let userReview of userReviews">
          <img
            class="circle"
            *ngIf="userReview.user.imageSrc; else photoDefault"
            src="{{ userReview.user.imageSrc }}"
            alt=""
          />
          <ng-template #photoDefault>
            <img
              class="circle"
              src="/assets/pictures/user/empty-user.png"
              alt=""
            />
          </ng-template>
          <div class="user-review">
            <div class="username-rating">
              <div class="username">
                {{ userReview.user.name }}
                {{ userReview.user.lastname }}
              </div>
              <div class="rating-stars">
                <span *ngFor="let i of getRange(this.cineclub.rating)">
                  <mat-icon>star</mat-icon>
                </span>
                <span *ngFor="let i of getRange(5 - this.cineclub.rating)">
                  <mat-icon>star_border</mat-icon>
                </span>
              </div>
            </div>
            <div class="user-text">
              {{ userReview.comment }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex align-items-center justify-content-center"
        *ngIf="userReviews.length == 0"
      >
        <mat-card-content>Este cineclub aún no tiene reseñas</mat-card-content>
      </div>
    </div>
  </div>
</section>
