.card{
    margin-left: 11.5rem;
    margin-right: 11.5rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-container{
    margin-right: 2rem;
    margin-left: 2rem;
    
}

.banner {
    width: 100%;
    height: auto;
  }

@media (max-width: 1100px) {
.card {
    margin-left: 0;
    margin-right: 0;
}
}

mat-icon{
    font-family: 'Material Icons' !important;
  }

.form {
    border-radius: 5px;
    padding-top: 10px;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}
.rating {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}
  
::ng-deep label.star {
    padding: 3px !important;
    font-size: 19px !important;
}
  
.mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button{
    background-color: #FFAD00 !important;
    color: white !important;
    margin-left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disabled-button {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    margin-top: 2px;
    margin-bottom: 2px;
}

.circle{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    margin-right: 10px;
}

.user-review {
    display: inline-block;
}

.user-card {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    padding: 15px;
    background-color:#EFF2F7;
    border-radius: 15px;
    margin-bottom: 15px;
}

.username-rating {
    display: inline-block;
}

.user-rating {
    display: inline-block;
    vertical-align: middle;
    color: #FFAD00;
}

.description {
    padding-top: 10px;
}

.users-reviews {
    padding-bottom: 30px;
}